body {
    font-family: 'Lora', 'Times New Roman', serif;
    font-size: 20px;
    color: #333333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 800;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover, a:focus {
    color: #0085A1;
}

.masthead {
    background-color: #868e96;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.site-heading, .post-heading, .page-heading {
    padding: 200px 0 150px;
    color: white;
}

@media only screen and (min-width: 768px) {
    .site-heading, .post-heading, .page-heading {
        padding: 200px 0;
    }
}

.site-heading h1, .page-heading h1 {
    font-size: 50px;
    margin-top: 0;
}

.post-heading h1 {
    font-size: 35px;
}

.subheading {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.post-preview > a {
    color: #333333;
}

.post-preview > a:hover, .post-preview > a:focus {
    text-decoration: none;
    color: #0085A1;
}

.post-preview > a > .post-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.post-preview > a > .post-subtitle {
    margin: 0;
    font-weight: 300;
    margin-bottom: 10px;
}

.post-preview > .post-meta {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: #868e96;
}

.post-preview > .post-meta > a {
    text-decoration: none;
    color: #333333;
}

.post-preview > .post-meta > a:hover, .post-preview > .post-meta > a:focus {
    color: #0085A1;
    text-decoration: underline;
}

article {
    margin-top: 50px;
}

.comment {
    border-left: 3px solid #0085A1;
    padding-left: 20px;
    margin-bottom: 20px;
}

.comment img {
    border-radius: 50%;
}

.flash {
    font-weight: bold;
    padding: 10px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin: 10px 0;
}

footer {
    margin-top: 50px;
}
