{% include "header.html" %}

<!-- Post Masthead with Background Image -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/post-bg.jpg') }}');">
    <div class="container">
        <h1>{{ post.title }}</h1>
        <p class="lead">{{ post.subtitle }}</p>
        <p class="post-meta">
            <span>By {{ post.author }}</span> | 
            <span>{{ post.date }}</span>
        </p>
    </div>
</header>

<!-- Post Content -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <article class="post-content">
                <p>{{ post.body }}</p>
            </article>
            
            <hr class="my-5">
            
            <div class="text-center">
                <a href="{{ url_for('home') }}" class="btn btn-primary">
                    ← Back to Home
                </a>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}
