{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?w=1920'); background-size: cover; background-position: center; padding: 200px 0 150px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading text-white">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Welcome to my blog! This is a space where I share my thoughts, ideas, and experiences.</p>
            <p>I'm passionate about writing and technology, and I created this blog to connect with like-minded individuals.</p>
            <p>Feel free to explore my posts and leave comments. I'd love to hear from you!</p>
        </div>
    </div>
</div>
{% endblock %}
